[submodule "hernandezCar"]
	path = hernandezCar
	url = https://github.com/KarlWithK/04_make_mks.git
[submodule "hamzahMoh"]
	path = hamzahMoh
	url = https://github.com/ForestDweller014/04_make
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work04_make.git
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/04_make.git
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/04_make.git
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_04_make.git
[submodule "zhangJin"]
	path = zhangJin
	url = https://github.com/Jinzxc/04_make_J.git
[submodule "maoMad"]
	path = maoMad
	url = https://github.com/madelynxmao/04_make.git
[submodule "hathawayMay"]
	path = hathawayMay
	url = https://github.com/mayhathaway/systems-04.git
[submodule "04_make"]
	path = 04_make
	url = https://github.com/jchen2003/04_make.git
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/04_make.git
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/systems_04_make.git
[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/04_make_vs.git
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/make_it_so.git
